﻿@charset "utf-8";

/*html, body 
{
	margin: 0;
	padding: 0;
	min-width: 800px;
}
html body 
{
	font-family: 'Open Sans', sans-serif;
}*/
#rezon-forms input, 
#rezon-forms button 
{
	font-family: 'Open Sans', sans-serif;
}
#rezon-forms 
{
    font-size: 100%;
    background: #e9ebf2;
    padding: 30px 20px 40px;
    margin: 0 auto;
    max-width: 740px;
}

.rez-forms-links 
{
    margin: 0 0 10px;
    text-align: left;
}
.rez-forms-links a 
{
    font-size: 18px;
    margin: 0 30px 0 0;
}
.rez-forms-links a.active span,
.rez-forms-links a.active:hover span 
{
    color: #333;
}
#rezon-forms input,
#rezon-forms form,
#rezon-forms div,
#rezon-forms label,
#rezon-forms a 
{
	box-sizing: content-box;
}
#rezon-forms a ,
#rezon-forms a:visited{
    color: rgb(102, 153, 204);
}
#rezon-forms input[type="radio"], 
#rezon-forms input[type="checkbox"] 
{
    line-height: normal;
    margin: 4px 0 0;
}
#rezon-forms .clear 
{
    clear: both;
}
#rezon-forms .row 
{
	clear: both;
	margin: 0;
	position: relative;
}
#rezon-forms .row,  
#rezon-forms .direct_flight 
{
	clear: both;
	padding-top: 16px;
}
#rezon-forms .column 
{
	float: left;
	width: 48%;
}
#rezon-forms .column:first-child 
{
	margin: 0 4% 0 0;
}
#rezon-forms .item 
{
	/*border: 1px solid #bdc6d7;
	border-radius: 4px;*/
	position: relative;
	clear: both;
    /*z-index: 2;*/ /* Без него мигало. Вроде как попустило. Будем наблюдать */
}
#rezon-forms .from .inside,
#rezon-forms .to .inside 
{
    background: #fff;
    border: 1px solid #bdc6d7;
    border-bottom-width: 0;
	border-radius: 4px 4px 0 0;
	padding: 10px 0;
	position: relative;
}
#rezon-forms .direct 
{
    text-align: center;
}
#rezon-forms .direct label 
{
	margin: 0 10px 0 0;
    cursor: pointer;
}
#rezon-forms label 
{
    color: #5e6278;
    font-size: 12px;
    font-weight: normal;
    margin: 0 0 3px 0;
	padding: 0;
	display: inline-block;
	max-width: 100%;
	/*cursor: pointer;*/
}
#rezon-forms .radio_bull,
#rezon-forms .check_bull 
{
	display: inline-block;
	height: 22px;
	width: 22px;
	float: left;
	background-repeat: no-repeat;
	background-size: 25px 125px;
	background-position: -2px -26px;
	margin: -1px 3px -4px 0;
}
#rezon-forms .radio_bull 
{
	background-image: url(../img/radio_bull.png);
}
#rezon-forms .check_bull 
{
	background-image: url(../img/check_bull.png);
}
#rezon-forms .active .radio_bull, 
#rezon-forms .active:hover .radio_bull,
#rezon-forms .active .check_bull, 
#rezon-forms .active:hover .check_bull 
{
	background-position: -2px -76px;
}
#rezon-forms label:hover .radio_bull, 
#rezon-forms label:hover .check_bull 
{
	background-position: -2px -51px;
}
#rezon-forms .radio_bull.disable, 
#rezon-forms label:hover .radio_bull.disable, 
#rezon-forms .check_bull.disable, 
#rezon-forms label:hover .check_bull.disable 
{
	background-position: -2px -1px;
	cursor: default;
}
#rezon-forms .active .radio_bull.disable, 
#rezon-forms label.active:hover .radio_bull.disable, 
#rezon-forms .active .check_bull.disable, 
#rezon-forms label.active:hover .check_bull.disable 
{
	background-position: -2px -101px;
	cursor: default;
}
#rezon-forms input 
{
	border: none;
}
#rezon-forms .book-from, 
#rezon-forms .book-to 
{
    color: #000;
    font-size: 16px;
    font-weight: bold;
    height: 20px;
    width: 100%;
    padding: 0 10px;
    margin: 0;
    outline: 0;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    background:transparent;
}
#rezon-forms .book-from.default, 
#rezon-forms .book-to.default 
{
	color: #333;
    font-size: 14px;
	font-weight: normal;
}
#rezon-forms .book-from.full, 
#rezon-forms .book-to.full 
{
	color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
}
#rezon-forms .dropdown 
{
	display: none;
	position: absolute;
}
#rezon-forms .country 
{
	color: #8d8d8d;
	font-size: 13px;
}
#rezon-forms .iata 
{
	color: #707176;
	font-size: 11px;
	position: absolute;
    font-weight: bold;
	top: 13px;
	right: 13px;
	z-index: 1;
}
#rezon-forms .express 
{
    color: #aaaaaa;
    font-size: 9px;
    position: absolute;
    top: -18px;
    right: 0;
    z-index: 1;
}
#rezon-forms .delete 
{
	position: absolute;
	top: 26px;
	right: 10px;
	width: 25px;
	height: 25px;
	opacity: .3;
	cursor: pointer;
	background-image: url(../img/i_delit.png);
	background-repeat: no-repeat;
	background-size: 25px auto;
    z-index: 1;
}
#rezon-forms .delete:hover 
{
	opacity: 1;
}
#rezon-forms .calendar 
{
	position: relative;
	border-radius: 0 0 4px 4px;
    border: 1px solid #bdc6d7;
    border-top: none;
	height: 28px;
	background: #f0f1f4; /* Old browsers */
	background: -moz-linear-gradient(top,  #f0f1f4 0%, #f4f5f8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f1f4), color-stop(100%,#f4f5f8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f0f1f4 0%,#f4f5f8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f0f1f4 0%,#f4f5f8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f0f1f4 0%,#f4f5f8 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f0f1f4 0%,#f4f5f8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f1f4', endColorstr='#f4f5f8',GradientType=0 ); /* IE6-9 */
}
#rezon-forms .book-date-wrapper 
{
    display: inline-block;
    float:left;
}
#rezon-forms .book-date 
{
    float: left;
    width: 66px;
    background: #798799;
    border-radius: 0 0 0 2px;
    color: #fff;
    font-size: 13px;
    padding: 4px 6px 4px 12px;
    display: inline-block;
    margin: 0;
    outline: 0;
    cursor: pointer;
    height: 20px;
}
#rezon-forms .with-error .book-date,
#rezon-forms .with-error .datepicker-button
{
    background-color: #e94b34;
    border-top: 1px solid #798799;
    margin-top: -1px;
}
#rezon-forms .book-date:active,
#rezon-forms .book-date:focus 
{
    cursor : url("../img/text.cur"), auto;
}
#rezon-forms .datepicker-button 
{
    background: #798799;
    background-image: url(../img/i_calendar.png);
    background-repeat: no-repeat;
    background-position: 50% center;
    background-size: 20px auto;
    display: inline-block;
    width: 28px;
    height: 28px;
    cursor: pointer;
}
#rezon-forms .book-date-wrapper:hover .book-date 
{
    border-color: #6A788A;
}
#rezon-forms .book-date-wrapper:hover .datepicker-button 
{
    background-color: #6A788A;
}
#rezon-forms .book-from-date:hover span, 
#rezon-forms .book-to-date:hover span 
{
	color: #fffc00;
	border-bottom: 1px dashed #fffc00;
}
#rezon-forms .book-time 
{
    font-size: 13px;
    display: block;
    height: 28px;
    text-decoration: none;
    color: rgba(51, 51, 51, 1);
}

#rezon-forms .book-time span 
{
	font-size: 13px;
	margin: 5px 12px 0 12px;
	display: inline-block;
	border-bottom: 1px dashed rgba(51,51,51,0.4);
}

#rezon-forms .remove 
{
	position: absolute;
	top: 0;
	right: 0;
	text-decoration: none;
	display: inline-block;
	height: 28px;
	padding: 0 10px;
}
#rezon-forms .remove span 
{
	border-bottom: 1px dashed rgba(89,124,147,0.4);
	font-size: 13px;
	line-height: 28px;
}
#rezon-forms .remove:hover span 
{
	border-bottom-color: rgba(51,51,51,0.4);
    color: rgb(51, 51, 51);
}
#rezon-forms .add 
{
	text-align: center;
	padding: 10px 0 20px;
}
#rezon-forms .add .gray 
{
	padding: 0 20px;
	line-height: 40px;
}
#rezon-forms .gray span 
{
	font-size: 18px;
	vertical-align: -5px;
}
#rezon-forms .passengers .switch 
{
	display: inline-block;
	height: 34px;
	background: #fff;
	border: 1px solid #bdc6d7;
	text-decoration: none;
	border-radius: 4px;
	font-size: 13px;
}
#rezon-forms .passengers a.active,  
#rezon-forms .passengers a.active:hover 
{
	background: #798799;
	border-color: #798799;
	color: #fff;
}

#rezon-forms .dates-item-row 
{
    position: relative;
    clear: both;
    top:-1px;
    margin: 0 2px 0 1px;
}
#rezon-forms .dates-item 
{
    outline: 0;
    position: absolute;
    z-index: 11;
    box-shadow: 0 5px 5px rgb(121, 135, 153);
    width: 100%;
}
#rezon-forms .first 
{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
#rezon-forms form .last 
{
	border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
	border-right-width: 1px;
}
#rezon-forms .gal-btn-group 
{
	line-height: 100%;
	clear: both;
}
#rezon-forms .passengers .switch 
{
    width: 269px;
    text-align: left;
    position: relative;
}
#rezon-forms .passengers .switch .passengers-text 
{
    margin: 0 50px 0 0;
	padding: 0 10px;
	line-height: 34px;
	position: relative;
}
#rezon-forms .passengers .switch .passengers-icon 
{
	background-image: url(../img/i_age.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: auto 50px;
	background-color: #798799;
	border: 1px solid #798799;
    height: 100%;
    width: 50px;
	margin: -1px -1px -1px 0;
	border-radius: 0 4px 4px 0;
	float: right;
}
#rezon-forms .passengers.has-error a.switch,
#rezon-forms .passengers.has-error .switch .passengers-icon 
{
    border-color: #e94b34;
}
#rezon-forms .passengers.has-error .switch .passengers-icon 
{
    background-color: #e94b34;
}
#rezon-forms .passengers a:hover .passengers-icon 
{
    background-color: #6A788A;
}
#rezon-forms .carriers 
{
	font-size: 13px;
	color: #333333;
}
#rezon-forms .carriers .item 
{
    cursor: pointer;
    border-bottom-width: 1px;
    border-radius: 4px;
    min-height: 34px;
}
#rezon-forms .carriers .item .inside 
{
    padding: 8px 0 7px;
}
#rezon-forms .carriers .inside div 
{
	padding: 0 10px;
}
#rezon-forms .carriers .inside:before,
#rezon-forms .passengers .passengers-text:before,
#rezon-forms .book-range .selected-value:before,
#rezon-forms .book-class .selected-value:before 
{
    background-image: url(../img/ui.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 200% auto;

    content: "";
    display: block;
    width: 25px;
    height: 25px;
	right: 5px;
    top: 50%;
	position: absolute;
	margin: -12px 0 0 0;
}
#rezon-forms .carriers .inside:hover:before,
#rezon-forms .passengers a:hover .passengers-text:before,
#rezon-forms .book-range .selected-value:hover:before,
#rezon-forms .book-class .selected-value:hover:before 
{
    background-position: 100% 0;
}
#rezon-forms .carriers .opened .inside:before,
#rezon-forms .passengers .opened .passengers-text:before,
#rezon-forms .book-range .opened .selected-value:before,
#rezon-forms .book-class .opened .selected-value:before 
{
    background-position: 0 -25px;
}
#rezon-forms .carriers .opened .inside:hover:before,
#rezon-forms .passengers .opened:hover .passengers-text:before,
#rezon-forms .book-range .opened .selected-value:hover:before,
#rezon-forms .book-class .opened .selected-value:hover:before 
{
    background-position: 100% -25px;
}

#rezon-forms .clear_form 
{
    border-bottom: 1px dashed rgba(94,98,120,.4);
    color: #5e6278;
    float: left;
    font-size: 13px;
    margin: 10px 0 0 25px;
    text-decoration: none;
	position: relative;
}
#rezon-forms a.clear_form:before 
{
    background-image: url("../img/i_clear.png");
    background-repeat: no-repeat;
    background-size: 25px auto;
    content: "";
    display: block;
    height: 30px;
    width: 30px;
    margin: -3px 0 0 -25px;
    opacity: 0.75;
	position: absolute;
}
#rezon-forms a.clear_form:hover:before 
{
    opacity: 1.0;
}
#rezon-forms .yellow 
{
	float: right;
	border: none;
	height: 43px;
	min-width: 120px;
	padding: 6px 24px;
	border-radius: 30px;
	font-weight: 600;
	font-size: 18px;
}
#rezon-forms label.space 
{
	margin: 8px 0 0 0;
}
#rezon-forms .item.focused .inside,
#rezon-forms .item.focused .calendar,
#rezon-forms .item.opened .inside 
{
    border-color: #3499DB;
    outline: 0;
    /*-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(112, 30, 169,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(112, 30, 169,.6);*/
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#rezon-forms #railway-form-shoot .item.focused .inside,
#rezon-forms #railway-form-shoot .item.focused .calendar,
#rezon-forms #railway-form-shoot .item.opened .inside 
{
    border-color: #669900;
}
#rezon-forms .radio-group-label .gal-btn-group.radio-supplement.has-error 
{
    border-color: #db3457;
}
#rezon-forms .item.has-error .inside 
{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

    border-left-color: #db3457;
    border-right-color: #db3457;
    border-top-color: #db3457;
}

#rezon-forms .item.opened > .inside > .country,
#rezon-forms .item.opened > .inside > .iata,
#rezon-forms .item.opened > .inside > .delete 
{
    visibility: hidden;
}

#rezon-forms input.isEmpty 
{
    font-size: 14px;
    font-weight: normal;
}
/*Хак для IE. */
#rezon-forms input[type='text']::-ms-clear
{
    display: none;
}
#rezon-forms .country 
{
    font-size: 13px;
    padding: 0 10px;
}
#rezon-forms .airport-finder-link 
{
    font-size: 13px;
    padding: 0 10px;
    position: absolute;
    top: 33px;
}
#rezon-forms .avia-airport-finder 
{
    position: absolute;
    background: #fff;
    padding: 3px 0 0 0;
    top: 31px;
    border-radius: 0 0 4px 4px;
    border-color: #3499DB;
    border-style: solid;
    border-top-width: 0;
    border-left-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    width: auto;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    outline: 0;
    box-shadow: 0 5px 5px rgb(121, 135, 153);
	font-size: 13px;
	z-index: 10;
}
#rezon-forms #railway-form-shoot .avia-airport-finder 
{
    border-color: #669900;
}
#rezon-forms .avia-airport-finder .avia-airport-finder-inner 
{
    padding: 10px 9px 20px 9px;
}
#rezon-forms .avia-airport-finder-inner span 
{
    margin-top: 3px;
}
#rezon-forms .finder-state 
{
    display: inline-block;
    width: 100%;
}
#rezon-forms .avia-airport-finder .typeahead-selectpicker,
#rezon-forms .carriers-finder .typeahead-selectpicker 
{
    border: 1px solid #b1b7be;
    width: 100%;
    outline: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
#rezon-forms .avia-airport-finder .typeahead-selectpicker:focus,
#rezon-forms .avia-airport-finder .typeahead-selectpicker:active,
#rezon-forms .carriers-finder .typeahead-selectpicker:focus,
#rezon-forms .carriers-finder .typeahead-selectpicker:active 
{
    border: 1px solid #ffd900;
}
#rezon-forms .avia-airport-finder .tt-dropdown-menu,
#rezon-forms .carriers-finder .tt-dropdown-menu 
{
    border-color: #ffd900;
}
#rezon-forms .radio-group input[type='radio'] 
{
    display: none;
}
#rezon-forms .selectpicker 
{
    margin-left: 112px;
}
#rezon-forms .selectpicker input[type='radio'] 
{
    display: none;
}
#rezon-forms .selectpicker:active,
#rezon-forms .selectpicker:focus 
{
    outline: 0;
}
#rezon-forms .selectpicker .selected-value 
{
    cursor: pointer;
    height: 28px;
	font-size: 13px;
}
#rezon-forms .selectpicker .options 
{
    cursor: pointer;
    display: none;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: #3499DB;
    background: #fff;
    position: absolute;
    z-index: 10;
	left: 0;
    right: 0;
    box-sizing: border-box;
    border-radius: 0 0 4px 4px;
}
#rezon-forms .selectpicker .option 
{
    cursor: pointer;
    padding: 8px 12px;
}
#rezon-forms .selectpicker .option:last-child 
{
    border-radius: 0 0 4px 4px;
}
#rezon-forms .selectpicker .option span 
{
    padding: 0;
    margin: 0;
}
#rezon-forms .book-range .selected-value:hover,
#rezon-forms .book-class .selected-value:hover,
#rezon-forms .remove:hover,
#rezon-forms .passengers a:hover,
#rezon-forms .carriers .item:hover 
{
    background-color: #ffe04d;
    border-radius: 4px;
	color: #333333;
}
#rezon-forms #railway-form-shoot .selectpicker.opened .selected-value 
{
    border-color: #669900;
}
#rezon-forms .selectpicker.opened .selected-value span 
{
    border-bottom: none;
}
#rezon-forms .selectpicker.opened .options 
{
    border-top: none;
	box-shadow: 0 5px 5px rgb(121, 135, 153);
}
#rezon-forms .selectpicker.opened .option span 
{
    border-bottom: none;
}
#rezon-forms .selectpicker.opened .option:hover 
{
	background: #ffe04d;
	color: #000;
}
#rezon-forms .selectpicker 
{
    position: relative;
}
#rezon-forms .passengers 
{
    position: relative;
    clear: both;
}
#rezon-forms .select-age 
{
    border: 1px solid #3499DB;
    background: rgb(255, 255, 255);
    border-radius: 4px;
    box-shadow: 0 5px 5px rgb(121, 135, 153);
    float: left;
    line-height: 14px;
    z-index: 10;
    outline: 0;
    position: absolute;
    top: 57px;
	left: 0;
	right: 0;
}
#rezon-forms .select-age table 
{
	margin: 20px auto 20px;
}
#rezon-forms .select-age .error-box 
{
    margin: 5px 0 0 0;
    padding: 5px 10px 1px 10px;
}
#rezon-forms .select-age td 
{
	padding: 3px 12px 0 3px;
}
#rezon-forms .select-age td.tera 
{
    padding: 0 12px 4px 8px;
}
#rezon-forms .select-age .category 
{
	font-size: 12px;
}
#rezon-forms .select-age .age 
{
	font-size: 11px;
	color: rgb(138, 144, 163);
    max-width: 110px;
    display: inline-block;
}
#rezon-forms .passengers .select-age .radio-group-label 
{
	position: relative;
}
#rezon-forms .radio-group-label .gal-btn-group 
{
	border: 1px solid rgb(189, 198, 215);
	border-radius: 4px;
	float: left;
}
#rezon-forms .gal-btn-group label 
{
	display: inline-block;
	float: left;
	background: #fff;
	border-width: 1px 0 1px 1px;
	border-style: solid;
	border-color: #bdc6d7;
	text-align: center;
	text-decoration: none;
    margin: 0 10px 0;
	padding: 9px 10px;
    cursor: pointer;
}
#rezon-forms .radio-group-label .gal-btn-group label 
{
	display: block;
	float: left;
	text-align: center;
	border-width: 0 1px 0 0;
	border-style: solid;
	border-color: rgb(189, 198, 215);
	font-weight: normal;
	color: rgb(102, 153, 204);
	text-decoration: none;
	margin: 0;
	cursor: pointer;
	/*padding: 0;*/
	font-size: 13px;
}
#rezon-forms .radio-group-label .gal-btn-group label:first-child 
{
	border-radius: 3px 0 0 3px;
}
#rezon-forms .radio-group-label .gal-btn-group label:last-child 
{
	border-radius: 0 3px 3px 0;
	border-width: 0;
}
#rezon-forms .radio-group-label .gal-btn-group label:hover,
#rezon-forms .radio-group-label .gal-btn-group.radio-supplement label.active:hover,
#rezon-forms .radio-group-label .gal-btn-group.radio-supplement label.lessed,
#rezon-forms .radio-group-label .gal-btn-group.radio-supplement label.less 
{
	background-color: rgb(255, 217, 0);
    border-right-color: rgb(224, 191, 4);
	color: rgba(0, 0, 0, 1);
}
#rezon-forms .radio-group-label .gal-btn-group label.active,
#rezon-forms .radio-group-label .gal-btn-group label.active:hover,
#rezon-forms .radio-group-label .gal-btn-group.radio-supplement label.less-bl 
{
	background-color: rgb(121, 135, 153);
	border-color: rgb(121, 135, 153);
	color: #fff;
	text-decoration: none;
	font-weight: normal;
	cursor: default;
}
#rezon-forms .radio-group-label .gal-btn-group label.disabled,
#rezon-forms .radio-group-label .gal-btn-group label.disabled:hover,
#rezon-forms .radio-group-label .gal-btn-group.radio-supplement label.disabled:hover,
#rezon-forms .radio-group-label .gal-btn-group.radio-supplement label.lessed.disabled,
#rezon-forms .radio-group-label .gal-btn-group.radio-supplement label.less.disabled 
{
	color: rgb(233, 235, 242);
	border-color: rgb(233, 235, 242);
	cursor: default;
	font-weight: normal;
	background: none;
	text-decoration: none;
	cursor: default;
}
#rezon-forms .radio-group-label .reset 
{
    display: block;
    width: 16px;
    height: 16px;
    background-image: url("../img/delit.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 28px;
    opacity: 0.25;
    position: absolute;
    right: -18px;
    top: 6px;
    text-decoration: none;
}
#rezon-forms .radio-group-label .reset:hover 
{
	opacity: 1;
	background-color: #fff;
}

#rezon-forms .radio-group-label .gal-btn-group.radio-supplement label 
{
    padding: 5px 10px;
}
#rezon-forms .radio-group-label .gal-btn-group.radio-supplement label.less 
{
    background-color: rgb(255, 238, 140);
}
#rezon-forms .radio-group-label .gal-btn-group.radio-supplement label.lessed 
{
    background-color: rgb(255, 217, 0);
}
#rezon-forms .radio-group-label .gal-btn-group.radio-supplement label.less-bl 
{
    background: rgb(168, 179, 193);
}
#rezon-forms .carriers 
{
    position: relative;
    outline: 0;
    z-index: 1;
}
#rezon-forms .carriers-finder 
{
    position: absolute;
    background: #fff;
    
    border-radius: 0 0 4px 4px;
    border-color: #3499DB;
    border-style: solid;
    border-width: 0 1px 1px 1px;
    box-sizing: border-box;
    box-shadow: 0 5px 5px rgb(121,135,153);
    font-size: 13px;
    outline: 0;
    top: 100%;
    width: auto;
    z-index: 10;
}
#rezon-forms .carriers-finder-inside 
{
    padding: 17px 9px 20px 9px;
}
#rezon-forms .book-class .selected-value,
#rezon-forms .book-range .selected-value,
#rezon-forms .carriers .item 
{
    background: #ffffff;
    border-radius: 4px;
    border: 1px solid #bdc6d7;
}
#rezon-forms .selectpicker.standalone.opened 
{
    border-radius: 4px 4px 0 0;
}
#rezon-forms .book-class .opened .selected-value,
#rezon-forms .book-range .opened .selected-value,
#rezon-forms .carriers .item.opened 
{
    border-color: #3499DB;
    border-radius: 4px 4px 0 0;
    border-bottom: 0;
    padding-bottom: 1px;
}
#rezon-forms .checkbox-item input[type='checkbox'] 
{
    display: none;
}
#rezon-forms .checkbox-item 
{
    cursor: pointer;
}
#rezon-forms .z-100 
{
    z-index: 100 !important;
}
#rezon-forms .text-fade 
{
	background-image: url('../img/text-fade.png');
	background-repeat: repeat-y;
	background-position: center center;
	border-right: 28px solid rgb(255, 255, 255);
	border-radius: 0 4px 0 0;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
}
#rezon-forms .book-class 
{
	clear: both;
}
#rezon-forms .error-box 
{
    display: none;
    background: #e94b34;
    color: white;    
    padding: 0 10px 4px 10px;
    font-size: 13px;
    min-height: 17px;
}
#rezon-forms .error-box label 
{
    color:white;
}
#rezon-forms .error-box .close 
{
    width: 20px;
    height: 20px;
    margin-right: -5px;
    margin-top: 1px;
    float: right;
    background-image: url(../img/delit.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 150% auto;
}
#avia-form-shoot .book-range,
#avia-form-shoot .book-class
{
    margin: 16px 0 0;
}
#rezon-forms .selectpicker-before 
{
	line-height: 36px;
	float: left;
	display: block;
	color: #5e6278;
	font-size: 12px;
	font-weight: normal;
	max-width: 100%;
}
#rezon-forms .selectpicker.standalone
{
    margin: 0 0 0 7px;
	float: left;
	position: relative;
	width: 180px;
}
#rezon-forms .selectpicker.standalone .selected-value 
{
	height: auto;
	line-height: 34px;
	padding: 0 32px 0 12px;
}
#rezon-forms .button-hide 
{
	display: block;
    font-size: 11px;
    padding: 8px 0;
    position: relative;
	text-align: center;
    border-radius: 0 0 3px 3px;
	background: #f4f5f8;
	box-shadow: inset 0 10px 10px -10px #d7dce7;
}
#rezon-forms .button-hide span 
{
	border-bottom: 1px dashed rgba(102,153,204,.4)
}
#rezon-forms .row .button-hide:hover 
{
	background: #f4f5f8;
	text-decoration: none;
}
#rezon-forms .button-hide:hover span 
{
	color: #f00;
	border-color: rgba(255,0,0,.4)
}
#rezon-forms .g-hide,
#rezon-forms table.g-hide 
{
    display: none;
}
#rezon-forms .no-visiblity 
{
    visibility: hidden;
}
#railway-form-shoot .delete 
{
    top: 9px;
}
#railway-form-shoot .book-date 
{
    background: #7b8a6f;
}
#railway-form-shoot .datepicker-button 
{
    background-color: #7b8a6f;
}
#railway-form-shoot .book-date-wrapper:hover .datepicker-button 
{
    background-color: #5a8603;
}
#railway-form-shoot .column:first-child 
{
    margin: 0 10% 0 0;
}
#railway-form-shoot .column 
{
    position: relative;
    float: left;
    width: 45%;
}
#railway-form-shoot .swap 
{
    background-image: url(../img/swap.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50px auto;
    display: block;
    height: 50px;
    margin: 0 0 0 -25px;
    left: 50%;
    position: absolute;
    top: 33px;
    width: 50px;
    opacity: .6;

    transform: rotate(0deg);
    transition: .2s ease-out;
    -webkit-transform: rotate(0deg);
    -webkit-transition: .2s ease-out;
    -moz-transform: rotate(0deg);
    -moz-transition: .2s ease-out;
    -ms-transform: rotate(0deg);
    -ms-transition: .2s ease-out;
    -o-transform: rotate(0deg);
    -o-transition: .2s ease-out;
}
#railway-form-shoot .swap:hover 
{
    opacity: 1;

    transform: rotate(-180deg);
    transition: .6s ease-out;
    -webkit-transform: rotate(-180deg);
    -webkit-transition: .6s ease-out;
    -moz-transform: rotate(-180deg);
    -moz-transition: .6s ease-out;
    -ms-transform: rotate(-180deg);
    -ms-transition: .6s ease-out;
    -o-transform: rotate(-180deg);
    -o-transition: .6s ease-out;
}
#railway-form-shoot button[type="submit"] 
{
    margin: 16px 0 0;
}
#rezon-forms a 
{
	color: #428bca;
}
#rezon-forms a:visited 
{
	color: #597c93;
}
#rezon-forms a:hover,
#rezon-forms a:hover span,
#rezon-forms a:focus span 
{
	color: #f00;
    border-bottom-color: rgba(255, 0, 0, 0.4);
}
#rezon-forms a:focus 
{
	color: #f00;
    border-bottom-color: rgba(255, 0, 0, 0.4);
	text-decoration: none;
	outline: none;
}
#rezon-forms .dashed, 
#rezon-forms .dashed:hover, 
#rezon-forms .dashed:focus 
{
	text-decoration: none;
}
#rezon-forms a.dashed:hover 
{
	text-decoration: none;
}
#rezon-forms .dashed span 
{
	border-bottom-width: 1px;
	border-bottom-style: dashed;
}
#rezon-forms a span 
{
    border-bottom-color: rgba(122,128,159,.4);
}
#rezon-forms .left 
{
	float: left;
}
#rezon-forms .right 
{
	float: right;
}
#rezon-forms .clear 
{
	clear: both;
	height: 1px;
	font-size: 0;
	margin-bottom: -1px;
}
#rezon-forms .twitter-typeahead 
{
    width: 100%;
}
#rezon-forms .yellow 
{
    display: inline-block;
    cursor: pointer;
	padding: 6px 24px;
	border: none;
	border-radius: 30px;
	box-shadow: inset 0 1px 1px #ffffcc, 0 2px 2px -1px #ca7700;
	color: #7c4900;
	font-weight: 600;
	text-shadow: 0 1px 0 #ffffcc;
	background: #ffff00; /* Old browsers */
	background: -moz-linear-gradient(top, #ffff00 0%, #ffd900 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffff00), color-stop(100%, #ffd900)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffe00 0%, #ffd900 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffff00 0%, #ffd900 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffff00 0%, #ffd900 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffff00 0%, #ffd900 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffe00', endColorstr='#ffd900',GradientType=0 ); /* IE6-9 */
    outline: 0;
}
#rezon-forms .yellow:hover,
#rezon-forms .yellow:focus 
{
    outline: 0;
	box-shadow: inset 0 1px 1px #ffffcc, 0 2px 4px -1px #a50000;
	color: #000000;
	text-shadow: 0 1px 0 #fff;
	background: #ffff00; /* Old browsers */
	background: -moz-linear-gradient(top, #ffff00 40%, #ffc300 60%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(40%,#ffff00), color-stop(60%,#ffc300)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffe00 40%, #ffc300 60%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffff00 40%, #ffc300 60%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffff00 40%, #ffc300 60%); /* IE10+ */
	background: linear-gradient(to bottom, #ffff00 40%, #ffc300 60%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffe00', endColorstr='#ffc300',GradientType=0 ); /* IE6-9 */
}
#rezon-forms .yellow.disabled,
#rezon-forms .yellow.disabled:hover,
#rezon-forms .yellow:disabled,
#rezon-forms .yellow:disabled:hover,
#rezon-forms .yellow[disabled],
#rezon-forms .yellow[disabled]:hover 
{
	cursor: default;
	color: #c7a867;
	box-shadow: inset 0 1px 1px -1px #ffffff, 0 1px 2px -2px #ca7700;
	background: #fffd99; /* Old browsers */
	background: -moz-linear-gradient(top, #fffd99 0%, #fff299 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fffd99), color-stop(100%,#fff299)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fffd99 0%, #fff299 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fffd99 0%, #fff299 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fffd99 0%, #fff299 100%); /* IE10+ */
	background: linear-gradient(to bottom, #fffd99 0%, #fff299 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffd99', endColorstr='#fff299',GradientType=0 ); /* IE6-9 */
}
#rezon-forms .yellow:active 
{
    outline: 0;
	cursor: default;
	background: #ffcc00;
	color: #7c4900;
	text-shadow: none;
	box-shadow: inset 0 2px 1px #ca7700, 0 1px 1px #ffffcc;
}
#rezon-forms .yellow:visited 
{
    color: #403600;
}
#rezon-forms .gray 
{
    display: inline-block;
    cursor: pointer;
	font-weight: 600;
	border: none;
	border-radius: 30px;
	padding: 6px 24px;
	color: #4c5367;
	font-weight: 600;
	text-shadow: 0 1px 0 #fff;
	box-shadow: inset 0 1px #f5f7fd, 0 2px 2px -1px #8a90a3;
	background: #eaeefa; /* Old browsers */
	background: -moz-linear-gradient(top, #eaeefa 0%, #cbcedb 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eaeefa), color-stop(100%, #cbcedb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffe00 0%, #cbcedb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #eaeefa 0%, #cbcedb 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #eaeefa 0%, #cbcedb 100%); /* IE10+ */
	background: linear-gradient(to bottom, #eaeefa 0%, #cbcedb 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeefa', endColorstr='#cbcedb',GradientType=0 ); /* IE6-9 */
}
#rezon-forms .gray:hover,
#rezon-forms .gray:focus 
{
    outline: 0;
	box-shadow: inset 0 1px #f5f7fd, 0 2px 4px -1px #3c3c96;
	color: #000000;
	background: #eaeefa; /* Old browsers */
	background: -moz-linear-gradient(top, #eaeefa 40%, #cbcedb 60%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(40%,#eaeefa), color-stop(60%,#cbcedb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #eaeefa 40%, #cbcedb 60%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #eaeefa 40%, #cbcedb 60%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #eaeefa 40%, #cbcedb 60%); /* IE10+ */
	background: linear-gradient(to bottom, #eaeefa 40%, #cbcedb 60%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeefa', endColorstr='#cbcedb',GradientType=0 ); /* IE6-9 */
}
#rezon-forms .gray.disabled, 
#rezon-forms .gray.disabled:hover,
#rezon-forms .gray:disabled,
#rezon-forms .gray:disabled:hover,
#rezon-forms .gray[disabled],
#rezon-forms .gray[disabled]:hover 
{
	cursor: default;
	box-shadow: inset 0 1px 1px -1px #ffffff, 0 1px 2px -2px #aaaaaa;
	color: #afb5c6;
	background: #f7f8fd; /* Old browsers */
	background: -moz-linear-gradient(top, #f7f8fd 0%, #eaecf1 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f8fd), color-stop(100%,#eaecf1)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f7f8fd 0%, #eaecf1 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f7f8fd 0%, #eaecf1 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f7f8fd 0%, #eaecf1 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f7f8fd 0%, #eaecf1 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f8fd', endColorstr='#eaecf1',GradientType=0 ); /* IE6-9 */
}
#rezon-forms .gray:active 
{
	cursor: default;
	background: #c0c5d3;
	color: #4c5367;
	text-shadow: none;
	box-shadow: inset 0 2px 1px #8a90a3, 0 1px 1px #f5f7fd;
}
#rezon-forms .gray:visited 
{
	color: #4c5367;
}
#rezon-forms .radio_bull,
#rezon-forms .check_bull 
{
    cursor: pointer;
	display: inline-block;
	height: 22px;
	width: 22px;
	float: left;
	background-repeat: no-repeat;
	background-size: 25px 125px;
	background-position: -2px -26px;
	margin: -1px 3px -4px 0;
}
#rezon-forms .radio_bull 
{
	background-image: url(../img/radio_bull.png);
}
#rezon-forms .check_bull 
{
	background-image: url(../img/check_bull.png);
}
#rezon-forms label.active .radio_bull,
#rezon-forms label.active .check_bull,
#rezon-forms label.active:hover .radio_bull,
#rezon-forms label.active:hover .check_bull 
{
	background-position: -2px -76px;
}
#rezon-forms label:hover .radio_bull, 
#rezon-forms label:hover .check_bull 
{
	background-position: -2px -51px;
}
#rezon-forms .radio_bull.disabled,
#rezon-forms .check_bull.disabled,
#rezon-forms label:hover .radio_bull.disabled,
#rezon-forms label:hover .check_bull.disabled 
{
	background-position: -2px -1px;
	cursor: default;
}
#rezon-forms label.active .radio_bull.disable, 
#rezon-forms label.active:hover .radio_bull.disable, 
#rezon-forms label.active .check_bull.disable, 
#rezon-forms label.active:hover .check_bull.disable 
{
	background-position: -2px -101px;
	cursor: default;
}

/* Start Datepicker */

body > div.datepicker 
{
    box-shadow: 0 5px 5px #798799;
}
#rezon-forms div.datepicker 
{
	background: #ffffff;
	font-size: 12px;
	cursor: default;
	border-radius: 4px;
	display: none;
    padding: 20px 8px;
	position: relative;
	z-index: 100;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#rezon-forms .dates-item 
{
	background: #fff;
	border-radius: 4px;
	text-align: center;
    border: 1px solid #3499DB;
}
#railway-form-shoot .dates-item 
{
    border-color:#669900;
}
#rezon-forms .datepickerHidden 
{
	display: none;
}
#rezon-forms div.datepicker table 
{
	border-collapse:collapse;
}
#rezon-forms .datepicker span.datepicker-link {
	color: #333;
	text-decoration: none;
	outline: none;
    cursor: pointer;
}
#rezon-forms div.datepicker table td {
	text-align: right;
	margin: 0;
}
#rezon-forms div.datepicker th 
{
	text-align: center;
	color: #999;
	font-weight: normal;
}
#rezon-forms div.datepicker tbody th 
{
	text-align: left;
}
#rezon-forms div.datepicker tbody span.datepicker-link 
{
	display: block;
}
#rezon-forms .datepickerDays tr {
    border-bottom: 1px solid rgba(255,255,255,0);
}
#rezon-forms .datepickerDays span.datepicker-link 
{
	width: 28px;
	height: 27px;
	line-height: 27px;
	text-align: center;
}
#rezon-forms .datepicker-col 
{
    float: left;
}
#rezon-forms .datepickerYears span.datepicker-link,
#rezon-forms .datepickerMonths span.datepicker-link 
{
	width: 44px;
	line-height: 36px;
	height: 36px;
	text-align: center;
}
#rezon-forms .datepicker .datepickerNotInMonth span.datepicker-link 
{
	display: none;
}
#rezon-forms .datepicker thead span.datepicker-link:hover 
{
    font-weight: bold;
}
#rezon-forms .datepicker tbody span.datepicker-link:hover 
{
	background: #ffd900;
	color: #000;
	font-weight: bold;
    border-radius: 4px;
}
#rezon-forms .datepicker .datepickerSelected span.datepicker-link 
{
	background: #e9ebf2;
}
#rezon-forms .datepicker .datepickerSelected span.datepicker-link:hover 
{
	background: #ffd900;
	color: #000;
    border-radius: 0;
}
#rezon-forms .datepickerDays .datepickerSelected.datepickerSelectedFrom  span.datepicker-link, 
#rezon-forms .datepickerDays .datepickerSelected.datepickerSelectedTo span.datepicker-link 
{
	color: #fff;
	background: #3499db;
	font-weight: bold;
	position: relative;
}
#railway-form-shoot .datepickerDays .datepickerSelected.datepickerSelectedFrom  span.datepicker-link, 
#railway-form-shoot .datepickerDays .datepickerSelected.datepickerSelectedTo span.datepicker-link {
    background: #66ae00;
}
.datepickerDays .datepickerSelected.datepickerSelectedFrom span.datepicker-link 
{
    border-radius: 4px 0 0 4px;
}
.datepickerDays .datepickerSelected.datepickerSelectedTo span.datepicker-link 
{
    border-radius: 0 4px 4px 0;
}
#rezon-forms .datepickerDays .datepickerSelected.datepickerSelectedFrom.datepickerSelectedTo span.datepicker-link 
{
    border-radius: 4px;
}

#rezon-forms .datepickerDays .datepickerSelected.datepickerSelectedFrom  span.datepicker-link:before, 
#rezon-forms .datepickerDays .datepickerSelected.datepickerSelectedTo span.datepicker-link:before 
{
    border-top: 14px solid rgba(0, 0, 0, 0);
    border-bottom: 14px solid rgba(0, 0, 0, 0);
    content: "";
    display: block;
    height: 0;
    position: absolute;
    top: 0;
    width: 0;
}
#rezon-forms .datepickerDays .datepickerSelected.datepickerSelectedFrom  span.datepicker-link:before 
{
    border-left: 5px solid #3499db;
    left: 100%;
}
#rezon-forms .datepickerDays .datepickerSelected.datepickerSelectedTo span.datepicker-link:before 
{
    border-right: 5px solid #3499db;
    right: 100%;
}
#rezon-forms .datepickerDays .datepickerSelected.datepickerSelectedFrom.datepickerSelectedTo span.datepicker-link:before 
{
    display: none;
}
#railway-form-shoot .datepickerDays .datepickerSelected.datepickerSelectedFrom  span.datepicker-link:before 
{
    border-left: 5px solid #66ae00;
}
#railway-form-shoot .datepickerDays .datepickerSelected.datepickerSelectedTo span.datepicker-link:before 
{
    border-right: 5px solid #66ae00;
}

#rezon-forms .datepickerDays .datepickerNotInMonth.datepickerSelected 
{
	background: none;
}
#rezon-forms tbody.datepickerYears td.datepickerSelected,
#rezon-forms tbody.datepickerMonths td.datepickerSelected 
{
	background: #17384d;
}
#rezon-forms .datepickerDays.datepickerNotInMonth span.datepicker-link:hover 
{
	color: #999;
	background: none;
}
#rezon-forms div.datepicker tbody th 
{
	text-align: left;
}
#rezon-forms .datepickerSpace div 
{
	width: 20px;
}
#rezon-forms .datepickerGoNext span.datepicker-link,
#rezon-forms .datepickerGoPrev span.datepicker-link,
#rezon-forms .datepickerMonth span.datepicker-link 
{
	text-align: center;
	height: 30px;
	line-height: 20px;
}
#rezon-forms .datepickerGoNext span.datepicker-link 
{
	float: right;
	width: 20px;
}
#rezon-forms .datepickerGoPrev span.datepicker-link 
{
	float: left;
	width: 20px;
}
#rezon-forms table.datepickerViewDays tbody.datepickerMonths,
#rezon-forms table.datepickerViewDays tbody.datepickerYears 
{
	display: none;
}
#rezon-forms table.datepickerViewMonths tbody.datepickerDays,
#rezon-forms table.datepickerViewMonths tbody.datepickerYears,
#rezon-forms table.datepickerViewMonths tr.datepickerDoW 
{
	display: none;
}
#rezon-forms table.datepickerViewYears tbody.datepickerDays,
#rezon-forms table.datepickerViewYears tbody.datepickerMonths,
#rezon-forms table.datepickerViewYears tr.datepickerDoW 
{
	display: none;
}
#rezon-forms th .datepickerDisabled,
#rezon-forms th .datepickerDisabled:hover 
{
    font-weight: normal;
    cursor: default;
}
#rezon-forms .datepickerDisabled span.datepicker-link,
#rezon-forms .datepickerDisabled.datepickerNotInMonth
{
	background: none;
	font-weight: normal;
	color: #ccc;
	cursor: default;
}
#rezon-forms .datepicker tbody .datepickerDisabled span.datepicker-link:hover 
{
    background: none;
    font-weight: normal;
    color: #cccccc;
}
#rezon-forms .datepickerSpecial span.datepicker-link {
	background: #700;
}
#rezon-forms .datepickerSpecial.datepickerSelected span.datepicker-link {
	background: #a00;
}
#rezon-forms .datepickerViewDays, 
#rezon-forms .datepickerViewMonths, 
#rezon-forms .datepickerViewYears {
    display: inline-block;
    margin: 0 15px;
}
#rezon-forms .datepickerDoW th span {
	text-align: center;
	padding: 3px 0 0;
}
#rezon-forms .datepicker-wide {
    width: 100%;
    text-align: center;
}
#rezon-forms .datepicker .datepickerGoPrev span.datepicker-link,
#rezon-forms .datepicker .datepickerGoNext span.datepicker-link {
	background-image: url(../img/arrow-pn.png);
	background-size: 60px auto;
	background-repeat: no-repeat;
}
#rezon-forms .datepicker .datepickerGoPrev span.datepicker-link {
	background-position: -6px top;
}
#rezon-forms .datepicker .datepickerGoNext span.datepicker-link {
	background-position: -34px top;
}
#rezon-forms .datepicker .datepickerGoPrev span.datepicker-link:hover {
	background-position: -6px center;
}
#rezon-forms .datepicker .datepickerGoNext span.datepicker-link:hover {
	background-position: -34px center;
}
#rezon-forms .datepicker  .datepickerDoW > th {
    padding: 10px 0 5px;
}

/* End Datepicker*/

/* Start twitter-typeahead */

#rezon-forms .twitter-typeahead > .tt-hint {
    display: none;
}
#rezon-forms .twitter-typeahead {
    width: 100%;
}
#rezon-forms .avia-airport-finder .twitter-typeahead {
    margin-bottom: 10px;
}
#rezon-forms .twitter-typeahead.loading 
{
    background: url(data:image/gif;base64,R0lGODlhEAAQAPIAAP///56enufn58/Pz56engAAAAAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADGwi6MjRiSenIm9hqPOvljAOBZGmeaKqubOu6CQAh+QQJCgAAACwAAAAAEAAQAAADHAi63A5ikCEek2TalftWmPZFU/WdaKqubOu+bwIAIfkECQoAAAAsAAAAABAAEAAAAxwIutz+UIlBhoiKkorB/p3GYVN1dWiqrmzrvmkCACH5BAkKAAAALAAAAAAQABAAAAMbCLrc/jDKycQgQ8xL8OzgBg6ThWlUqq5s604JACH5BAkKAAAALAAAAAAQABAAAAMbCLrc/jDKSautYpAhpibbBI7eOEzZ1l1s6yoJACH5BAkKAAAALAAAAAAQABAAAAMaCLrc/jDKSau9OOspBhnC5BHfRJ7iOXAe2CQAIfkECQoAAAAsAAAAABAAEAAAAxoIutz+MMpJ6xSDDDEz0dMnduJwZZulrmzbJAAh+QQJCgAAACwAAAAAEAAQAAADGwi63P4wRjHIEBJUYjP/2dZJlIVlaKqubOuyCQAh+QQJCgAAACwAAAAAEAAQAAADHAi63A5ikCEek2TalftWmPZFU/WdaKqubOu+bwIAOwAAAAAAAAAAAA==) no-repeat right top;
}
#rezon-forms .twitter-typeahead .item-child-first 
{    
    margin-top: -5px !important;
    height: 14px !important;
}
#rezon-forms .twitter-typeahead .item-child, 
#rezon-forms .twitter-typeahead .item-child-first 
{
    float: left;
    /*margin-right: 8px;*/
    margin-left: 2px;
    margin-top: -17px;
    width: 10px;
    height: 28px;
    border-left: 1px solid #a5a5a5;
    border-bottom: 1px solid #a5a5a5;
}
#rezon-forms .twitter-typeahead .item-text 
{
    margin-left: 18px;
    display: block;
}
#rezon-forms .tt-dropdown-menu 
{
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0 0 3px 4px;
    padding: 8px 0;
    min-height: 57px;
    border-color: #3499DB;
    border-top: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    left: -1px !important;
    width: auto;
    right: -1px !important;

    max-height: 255px;
    overflow-y: auto;
}
#railway-form-shoot .tt-dropdown-menu 
{
    border-color: #669900;
}
#rezon-forms .tt-dropdown-menu:before 
{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    padding-top:32px;
    top:-32px;
    content: '';
    z-index: -1;
}
#rezon-forms .tt-suggestion 
{
    font-size: 14px;
    padding: 3px 38px 3px 15px;
    cursor: pointer;
    position: relative;
}
#rezon-forms .tt-suggestion > p 
{
    margin: 0;
    padding: 0;
}
#rezon-forms .templ-message 
{
    font-size: 14px;
    padding: 3px 15px 3px 15px;
}
#rezon-forms .tt-suggestion.tt-cursor 
{
    background-color: #ffd900;
    color: #333;
}
#rezon-forms .tt-dropdown-menu .iata-code 
{
    font-weight: bold;
    color: #707176;
    font-size: 11px;
    position: absolute;
    right: 10px;
    top: 6px;
}
#rezon-forms .tt-dropdown-menu .express-code 
{
    color:#CDCDCD;
    font-size: 9px;
    position: absolute;
    right: 10px;
    top: 6px;
}
#rezon-forms .tt-dropdown-menu span.country-separator 
{
    background: #f0f1f4;
    border-top: 1px solid #cdd2dc;
    color: #666666;
    display: block;
    font-size: 12px;
    line-height: 15px;
    margin: 7px 0 0 0;
    padding: 0 19px 1px 10px;
}
#rezon-forms .typeahead-selectpicker 
{
    border: 1px solid #bdc6d7;
    border-radius: 4px;
    position: relative;
    clear: both;
    padding: 5px 10px;
    font-size: 14px;
}
#rezon-forms .typeahead-selectpicker-control 
{
    position: absolute;
    right: 4px;
    display: block;
    width: 17px;
    height: 19px;
    opacity: .3;
    cursor: pointer;
    background: url(../img/icon-arrow-down.gif) no-repeat center center;
    top: 50%;
    margin-top: -9px;
    z-index: 1;
}
#rezon-forms .typeahead-selectpicker-control.opened 
{
    background: url(../img/icon-arrow-up.gif) no-repeat center center;
    opacity: 1;
}
#rezon-forms .typeahead-selectpicker-control.empty 
{
    background-image: url(../img/delit.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 120% auto;            
}
#rezon-forms .typeahead-selectpicker-control:hover,
#rezon-forms .typeahead-selectpicker-control:active 
{
	opacity: 1;
}


/*- -----------------------------------------------*/
#rezon-forms .dates-item {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
#rezon-forms .book-date {
}
#rezon-forms .selectpicker 
{
    margin-left: 112px;
}
#rezon-forms .datepicker-button {
}
#rezon-forms .item.calendar-dropdown .calendar {
    border-radius: 0;
}
#rezon-forms .item.calendar-dropdown .book-date-wrapper {
}
#rezon-forms .item.calendar-dropdown .book-date,
#rezon-forms .item.calendar-dropdown .datepicker-button {
    border-radius: 0;
    position: relative;
    z-index: 12;
}

#rezon-forms .item.calendar-dropdown .book-date-wrapper.active .book-date,
#rezon-forms .item.calendar-dropdown .book-date-wrapper.active .datepicker-button {
    background-color: #3499DB;
}
#railway-form-shoot .item.calendar-dropdown .book-date-wrapper.active .book-date,
#railway-form-shoot .item.calendar-dropdown .book-date-wrapper.active .datepicker-button {
    background-color: #66ae00;
}

@media screen and (max-width: 600px) {
    #rezon-forms {
        padding: 10px 10px 10px;
    }
    #rezon-forms .column {
        width: 100%;
    }
    #rezon-forms .item {
        margin-bottom: 10px;
    }
    #rezon-forms .selectpicker-before {
        float:none;
        line-height: 22px;
    }
    #rezon-forms .selectpicker.standalone {
        margin: 0;
        float: none;
    }
    #avia-form-shoot .book-range, 
    #avia-form-shoot .book-class,
    #rezon-forms .carriers label {
        margin: 10px 0 0;
    }

    #rezon-forms .column.from.calendar-dropdown + .column.to,
    #rezon-forms .column.from.calendar-dropdown + .swap + .column.to
    {
        display: none;
    }
    #rezon-forms .datepickerContainer .datepicker-col .datepickerGoNext.no-visiblity {
        visibility: visible;
    }
    #rezon-forms .datepickerContainer .datepicker-col + .datepicker-col + .datepicker-col,
    #rezon-forms .datepickerContainer .datepicker-col + .datepicker-col {
        display: none;
    }
    #railway-form-shoot .swap {
        display: none;
    }
    #railway-form-shoot .clear_form{
        display: none;
    }
    #rezon-forms .avia-form .direct label {
        margin-bottom: 10px;
    }
    #rezon-forms .select-age table {
        margin: 0 10px 10px;
    }
    #rezon-forms .select-age tr,
    #rezon-forms .select-age td {
        display:block;
    }
    #rezon-forms .select-age tr:after {
        content:'';
        display:block;
        clear:both;
    }
    #rezon-forms .select-age td.tera{
        text-align: left;
        padding: 10px 25px 0 4px;
    }
    #rezon-forms .select-age br {
        display:none;
    }
    #rezon-forms .radio-group-label .gal-btn-group.radio-supplement label {
        padding: 6px 14px;
    }
    #rezon-forms .dates-item {
        top:-9px;
    }
    #rezon-forms .clear_form {
        display: none;
    }
    #rezon-forms .row{
        padding-top:0;
    }
}
@media screen and (min-width: 600px) and (max-width: 768px) {
    #rezon-forms .datepickerContainer .datepicker-col + .datepicker-col + .datepicker-col {
        display: none;
    } 
    #rezon-forms .datepickerContainer .datepicker-col + .datepicker-col .datepickerGoNext.no-visiblity {
        visibility: visible;
    }
    
    #rezon-forms .radio-group-label .gal-btn-group.radio-supplement label {
        padding: 5px 8px;
    }
}